<html>
<head>
  <meta charset="UTF-8">
  <title>1px movie theater</title>
  <script src="javascripts/p5.js"></script>
  <script src="javascripts/p5.dom.js"></script>
  <script src="javascripts/p5.serialserver.js"></script>

  <style>*{font-family: sans-serif;}</style>
</head>
<body>
<!-- 웹캠예제를 보고 싶다면-->
  <!--<script src="javascripts/sketch.js"></script>-->
  <!-- 비디오 예제를 보고 싶다면 -->
  <script src="javascripts/sketch2.js"></script>
</body>
</html>
